

#siteTitle2{
	position: absolute;
	top: 25px;
	left: 50px;
	z-index: 2;
	font-size: 30px;
}

	#siteTitle2 a{
		color: #2F4F4F;
		text-decoration: none;
		font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
	}

	#siteTitle2 a:hover{
		color: #ADD8E6;
		transition: all ease-out .7s; 

	}

#navBar2{
	position: absolute;
	top: 25px;
	right: 50px;
	z-index: 2;

}
	
	#navBar2 a{
		color:#2F4F4F;
		text-decoration: none;
		font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;

	}

	#navBar2 a:hover{
		color:#ADD8E6;
		transition: all ease-out .7s; 
	}

	nav li {
		display: inline-block;
	}

	li{
	   padding: 10px;

	}
	
#pageTitle{
	position: relative;
	display: block;
	left: 0;
	top: 90px;
	width: 100%;
	text-align: center;
	color: #2F4F4F;
}
	#pageTitle span.border {
	  padding: 18px;
	  font-size: 50px;
	  letter-spacing: 10px;
	  font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;

	}


#gallery{
	position: relative;
	width: 100%;
	top: 125px
}

	#galleryContainer{
		width: 930px;
		margin: 0 auto;
	}

	.images{
		width: 300px;
		height: 300px;
	}

	.imageContainer{
		float: left;
		margin: 5px;

	}

html{
	margin-bottom: 150px;
}


@media (max-width: 940px) {
  #galleryContainer{
  	width: 780px;
  }
  .images{
  	width: 250px;
  	height: 250px;
  }
}

@media (max-width: 780px) {
  #galleryContainer {
    width: 550px;
    margin: 0 auto;
  }
  .images{
  	width: 250px;
  	height: 250px;
  }
}


@media (max-width: 575px){
	#siteTitle2{
  		width: 100%;
		text-align: center;
		left: 0px;
  }
	#navBar2 a{
		display: none;
  }
  	#pageTitle span.border{
		font-size: 30px;
  	}

}

@media (max-width: 530px) {
  #siteTitle2{
  	width: 100%;
	text-align: center;
	left: 0px;
  }
  #navBar2 a{
	display: none;
  }
  #pageTitle{
  	top: 100px;
  }
  #pageTitle span.border{
  	font-size: 30px;
  }
  #galleryContainer {
    width: 310px;
  }
  .images{
  	width: 300px;
  	height: 300px;
  }
}