
    
body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
}



#navBar{
	position: fixed;
	top: 25px;
	right: 50px;
	z-index: 2;

	}

	nav li {
		display: inline-block;
	}

	li{
	   padding: 5px;


	}


	a{
	text-decoration: none;
	}
	
	a:link{
	color: #006400;
	
	}

	a:visited{
		color: #006400;

	}

	a:hover{
		color: #F5F5DC;
		transition: all ease-out .3s; 
	}

	p{
		line-height: 110%;
	}

#backgroundOverlay{
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 1;
	background-color: black;
	opacity: .2;

}

#backgroundImage1, #backgroundImage2 {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

	#backgroundImage1{
	  background-image: url("../Images/BigSur2.jpg");
	  min-height: 100%;


	}

	#backgroundImage2{
	  background-image: url("../Images/RoadTrip2.jpg");
	  min-height: 100%;
	}

	.slogan {
	  position: absolute;
	  left: 0;
	  top: 40%;
	  width: 100%;
	  text-align: center;
	  color: #f7f7f7;
	  z-index:2;

	}

	.slogan span.border {
	  padding: 18px;
	  font-size: 50px;
	  letter-spacing: 10px;
	}






