
    
body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

#backgroundImage1, #backgroundImage2 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

#backgroundImage1{
  background-image: url("../Images/BigSur2.jpg");
  min-height: 100%;
}

#backgroundImage2{
  background-image: url("../Images/RoadTrip2.jpg");
  min-height: 400px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}



	a{
	text-decoration: none;
	}
	
	a:link{
	color: #006400;
	
	}

	a:visited{
		color: #006400;

	}

	a:hover{
		color: #F5F5DC;
		transition: all ease-out .3s; 
	}

	p{
		line-height: 110%;
	}

/*
.backgroundImages{
	position: absolute;
	z-index: -999;
	top: 0px;
	left: 0px;

}

#backgroundImage1, #backgroundImage2{
	width: 100%;

}
*/

nav li {
	display: inline-block;
}

	#navBar{
		position: fixed;
		top: 25px;
		right: 50px;

	}

	li{
	   padding: 5px;


	}


