

#siteTitle2{
	position: absolute;
	top: 25px;
	left: 50px;
	z-index: 2;
	font-size: 30px;
}

	#siteTitle2 a{
		color: #2F4F4F;
		text-decoration: none;
		font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
	}

	#siteTitle2 a:hover{
		color: #ADD8E6;
		transition: all ease-out .7s; 

	}

#navBar2{
	position: absolute;
	top: 25px;
	right: 50px;
	z-index: 2;

}
	
	#navBar2 a{
		color:#2F4F4F;
		text-decoration: none;
		font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;

	}

	#navBar2 a:hover{
		color:#ADD8E6;
		transition: all ease-out .7s; 
	}

	nav li {
		display: inline-block;
	}

	li{
	   padding: 10px;

	}
	
#pageTitle{
	position: relative;
	display: block;
	left: 0;
	top: 90px;
	width: 100%;
	text-align: center;
	color: #2F4F4F;
}
	#pageTitle span.border {
	  padding: 18px;
	  font-size: 50px;
	  letter-spacing: 10px;
	  font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;

	}